*{
	margin: 0;
	padding: 0;
}
body{
	background: url("../images/loginbg.jpg");
	font-family: "Microsoft Yahei";
	background-color: #fff;
}
#title{
	width: 800px;
	height: 200px;
	margin: 0px auto;
	text-align: center;
}
#title h1{
	font-size: 60px;
	letter-spacing: 50px;

}
#title h4{
	margin-top: 30px;
	text-align: right;
	margin-right: 100px;
	font-size: 30px;
	letter-spacing: 30px;
	font-style: italic;

}
#contain{
    width: 435px;
    height: 360px;
    margin: -12px 36%;
    border-radius: 0 10px 10px 10px;
    border-bottom:1px solid rgb(170,170,170);
    border-right:1px solid rgb(170,170,170);
    box-shadow: 0 0 20px rgba(57, 70, 78, 0.2);
    background: -webkit-linear-gradient(rgba(226,242,234,0.5),rgba(130,177,195,1));
}
.top{
	width: 410px;
	margin: 0 auto;
	height: 60px;
	line-height: 60px;

	border-bottom: 2px solid rgb(130,130,240);
	font-size: 23px;
	color: rgb(120,120,240);
}
.form{
	padding-left: 20px;
}
form input{
	width: 300px;
	height: 30px;
	margin-top:30px;
	outline: medium;
	border-radius: 3px; 
}
.bottom{
	width: 400px;
	height: 150px;

	margin: 10px auto;
}
#remember{
	cursor: pointer;
	transform: translate(0px,5px);
}
.bottom input{
	width: 20px;
	height: 20px;
	margin-top: 20px;
}
.bottom a{
	margin: 25px 15px 0 0;
	float: right;
}
.bottom #submit{
	width:330px;
	height:45px;
	margin: 45px 34px;
	line-height:45px;
	background-color: rgb(65,65,65);
	border-radius:4px;
	text-align:center;
	border:none;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
    font-weight:550;
}